.story_container_main {
    background-color: var(--navbar-background-color);
    height: 100%;
    .story-main {
        height: 100%;
        .container {
            height: 100%;
            overflow: hidden;
            .story-container {
                height: -webkit-fill-available;
                display: flex;
                a {
                    text-decoration: none;
                }
                p.description {
                    color: var(--text-blur-color);
                    font-size: 13px;
                    padding: 5px 0 10px;
                    margin-top: -10px;
                }
                .stories-present {
                    padding: 20px;
                    /* Máy tính bảng loại to, hiển thị chiều ngang */
                    @media (max-width: 1024px) {
                        padding-left: 0;
                    }

                    flex: 1;
                    height: 100%;
                    color: var(--primary-text);
                    overflow-y: scroll;
                    h3 {
                        padding-bottom: 5px;
                        border-bottom: 0.1px solid var(--border-color);
                    }
                    h4 {
                        padding: 30px 0 10px;
                    }

                    .ur-story {
                        display: flex;
                        align-items: center;
                        color: var(--primary-text);
                        svg {
                            padding: 10px;
                            font-size: 35px;
                            background-color: var(--border-color);
                            border-radius: 50%;
                            margin-right: 5px;
                            path {
                                color: var(--blue-link);
                            }
                        }

                        &:hover {
                            filter: brightness(0.7);
                        }
                    }
                    ul.list-user--stories {
                        width: 100%;
                        margin: 0 -5px;
                    }
                }
                .content-story--main {
                    background-color: var(--body-color);
                    flex: 3;
                    height: 100%;
                    /* Máy tính bảng loại to, hiển thị chiều ngang */
                    @media (max-width: 1024px) {
                        flex: 1;
                    }

                    .content-story--container {
                        position: relative;
                        background-color: var(--navbar-color);
                        display: block;
                        padding: 7px 0;
                        height: 100%;
                        .progress-bar {
                            height: 5px;
                            background-color: #e0e0e0;
                            border-radius: 2px;
                            overflow: hidden;
                            margin-bottom: 10px;
                        }

                        .progress {
                            height: 100%;
                            background-color: #ff4757;
                            transition: width 0.1s linear;
                        }

                        &::before {
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background: var(--background-url) center / cover no-repeat;

                            filter: blur(10px) brightness(0.5);
                            z-index: 1;
                        }

                        .img-content--wrapper {
                            position: relative;
                            z-index: 2;
                            left: 50%;
                            transform: translateX(-50%);
                            width: fit-content;
                            height: 100%;
                            border-radius: 10px;
                            overflow: hidden;
                            .content-info {
                                background-image: linear-gradient(
                                    180deg,
                                    var(--always-dark-overlay),
                                    var(--shadow-1) 52.5%,
                                    transparent
                                );

                                width: 100%;
                                position: absolute;
                                display: flex;
                                align-items: center;
                                padding: 20px;
                                background-color: var(--background-color);
                                .white-bar {
                                    position: absolute;
                                    top: 0;
                                    left: 50%;
                                    transform: translateX(-50%);
                                    width: 90%;
                                    height: 10px; /* Chiều cao của thanh trắng */
                                    display: flex; /* Chia đều các đoạn con bên trong */
                                    background-color: transparent; /* Đảm bảo nền trong suốt */
                                    z-index: 1;
                                    margin: 5px 0;
                                    .white-bar-segment {
                                        flex: 1 1;
                                        background-color: #7f7f7f;
                                        height: 3px;
                                        margin: 2px;
                                        border-radius: 2px;
                                        &.active {
                                            background-color: white;
                                        }
                                    }
                                }
                                .content-img--avt {
                                    flex-shrink: 0;
                                    margin-right: 10px;

                                    img {
                                        border: 5px solid var(--active-color);
                                        width: 50px;
                                        height: 50px;
                                        border-radius: 50%;
                                        object-fit: cover;
                                    }
                                }

                                .content-info--detail {
                                    width: 100%;
                                    display: flex;
                                    flex-direction: column;
                                    justify-content: center;
                                    .info {
                                        display: flex;
                                        justify-content: space-between;
                                        align-items: center;
                                        svg {
                                            font-size: 20px;
                                            path {
                                                color: var(--accent-color);
                                            }
                                            &:hover {
                                                cursor: pointer;
                                                opacity: 0.8;
                                            }
                                        }
                                        .name {
                                            color: white;
                                            font-weight: 500;
                                            font-size: 15px;
                                            font-weight: bold;
                                            margin: 0;
                                            b {
                                                font-weight: 400;
                                                color: white;
                                                font-size: 11px;
                                                margin: 2px 30px 0 10px;
                                            }
                                        }
                                        .delete_story {
                                            svg {
                                                color: #000;
                                            }
                                        }
                                    }

                                    .quantity-heart {
                                        color: white;
                                        display: flex;
                                        align-items: center;
                                        font-size: 14px;
                                        line-height: 20px;
                                        svg {
                                            font-size: 15px;
                                            path {
                                                color: red;
                                            }
                                        }
                                        p {
                                            font-weight: 500;
                                            color: white;
                                            font-size: 12px;
                                            margin-left: 4px;
                                        }
                                        span {
                                            margin-left: 5px;
                                        }
                                    }
                                }
                            }

                            img.content {
                                max-width: 380px;
                                height: 100%;
                                border-radius: 5px;
                                object-fit: cover;
                                display: flex;
                                align-items: center;
                            }
                            .icon-heart {
                                cursor: pointer;
                                background-image: linear-gradient(
                                    0deg,
                                    var(--always-dark-overlay),
                                    var(--shadow-1) 52.5%,
                                    transparent
                                );
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                align-items: center;
                                flex-direction: column;
                                padding: 10px 0 20px 0;
                                width: -webkit-fill-available;
                                lord-icon {
                                    width: 50px;
                                    height: 50px;
                                }
                                p {
                                    color: white;
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .pre_story {
        z-index: 3;
        position: absolute;
        left: 20%;
        top: 50%;
    }
    .next_story {
        right: 20%;
        top: 50%;
        position: absolute;
        z-index: 3;
    }
    
}
