.face-recognition--container {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding: 20px;
  background-color: var(--bg-color);
  .face-recognition {
    margin: auto;
    width: 40vw;
    @media (max-width: 800px) {
    width: unset;
    }

    max-height: calc(100vh - 40px);
    position: relative;
    padding: 20px;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: var(--navbar-color);
    h3 {
      text-align: center;
      margin-bottom: 20px;
    }

    .loading {
      text-align: center;
      font-size: 1rem;
      padding: 0 0 5px;
    }

    .video-container {
      width: 100%;
      max-width: 400px;
      aspect-ratio: 4 / 3;
      position: relative;
      margin: 0 auto 20px;
      background: #000;
      border-radius: 8px;
      overflow: hidden;
      border: 5px solid aqua;
      .line {
        left: 0;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: aqua;
        animation: identifier 2s ease-in-out infinite;
      }
      @keyframes identifier {
        0% {
          top: 0%;
        }
        25% {
          top: 50%;
        }
        50% {
          top: 100%;
        }
        75% {
          top: 50%;
        }
        100% {
          top: 0%;
        }
      }
      video {
        width: 100%;
        height: 100%;
        display: block;
        border-radius: 8px;
      }

      .overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }
    }

    h6 {
      text-align: center;
    }
    h5 {
      color: green;
    }
    ul.captured-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 10px -5px;
      padding: 0;
      list-style: none;
      li {
        width: 20%;
        position: relative;
        padding: 5px;
        background: #fff;
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

        img {
          width: 100%;
          height: auto;
          display: block;
          filter: grayscale(1);
          border-radius: 8px;
        }
      }
    }
  }
}
