.primary_icon_background {
    border-radius: 50%;
    background-color: var(--secondary-button);
    width: 40px;
    height: 40px;
    position: relative;
    svg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    svg {
        color: var(--icon-color);
    }
    &:hover {
        cursor: pointer;
    }
    .number_count_notice {
        width: 19px;
        height: 19px;
        background-color: #dd2334;
        border-radius: 50%;
        right: -3px;
        align-items: center;
        justify-content: center;
        display: flex;
        position: absolute;
        color: #fff;
        z-index: 1;
        top: -5px;
        font-size: 15px;
    }
}
.active_popover {
    svg path {
        fill: var(--primary-color);
    }
}
.hover_icon {
    background-color: transparent;
    &:hover {
        background-color: var(--secondary-button);
    }
}
