.chat_item_container {
    display: flex;
    align-items: center;
    padding: 8px;
    margin: 5px 0;
    border-radius: 5px;
    .avatar_chat {
        .avatar_user {
            width: 56px;
            height: 56px;
        }
    }
    .content_chat {
        max-width: 85%;
        width: 100%;
        margin-left: 10px;
        .title_chat {
            margin-bottom: 10px;
            color: var(--primary-text);
            font-size: var(--fourteen-px);
            font-weight: var(--main-font-weight);
        }
        .time_chat {
            color: var(--secondary-text);
            font-size: var(--thirteen-px);
            font-weight: var(--secon-font-weight);
            display: flex;
            width: 100%;
            align-items: center;
            .content_text {
                max-width: 65%;
                white-space: nowrap; /* Không cho phép nội dung xuống dòng */
                overflow: hidden; /* Ẩn phần nội dung tràn ra ngoài */
                text-overflow: ellipsis; /* Hiển thị dấu ba chấm nếu nội dung vượt quá */
                a {
                    color: var(--secondary-text);
                }
            }
            .time {
                font-size: var(--twelve-px);
                margin-left: 10px;
            }
        }
    }
    &:hover {
        background-color: var(--secondary-button);
    }
    &.active {
        background-color: var(--secondary-button);
    }
    &.unseen {
        font-weight: bold; /* Hoặc bất kỳ style nào bạn muốn để làm nổi bật tin nhắn chưa đọc */
        color: #000; /* Thay đổi màu sắc nếu cần */
    }
}
