.receiver_user_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    transition: all 0.3s ease-in-out;
    // justify-content: flex-start;
    align-items: flex-start;
    .content_receiver {
        background-color: var(--comment-backgroud);
        width: max-content;
        max-width: 600px;
        padding: 10px 20px;
        border-radius: 50px;
        span {
            word-break: break-word;
            color: var(--primary-text);
            font-size: var(--fourteen-px);
            font-weight: var(--secon-font-weight);
        }
       
    }
    .call_content {
        border-radius: 10px;
        background-color: var(--comment-backgroud) !important;
    }
    .call-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        &:has(.accepted) {
            flex-direction: row;
        }
        .missed-container {
            display: flex;
            align-items: center;
            p {
                color: var(--primary-text);
                font-size: 16px;
                margin-left: 10px;
            }
        }

        button {
            margin-top: 4px;
            width: -webkit-fill-available;
            background-color: rgb(115, 115, 115);
            color: rgb(255, 255, 255);
            padding: 10px 10px;
            font-weight: 500;
            font-size: 10px;
            border-radius: 5px;
            border: 0.1px solid rgb(255, 255, 255);
            cursor: pointer;
        }


        svg {
            font-size: 20px;
        }
        svg.missed {
            path {
                color: red !important;
            }
        }
        svg.accepted {
            color: var(--icon-color);
        }
        .infor_call {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            p {
                color: var(--primary-text);
                font-size: 16px;
            }
            b {
                color: var(--secondary-text);
                font-size: 14px;
            }
        }
    }
    button {
        margin-top: 10px;
        width: 100%;
    }

    img,
    video {
        border-radius: 20px;
        max-width: 300px;
    }
    p {
        height: 20px;
        a {
            // height: 20px;
            // display: block;
            color: var(--primary-color);
            text-decoration: underline;
            font-weight: var(--main-font-weight);
            font-size: var(--fourteen-px);
        }
    }

    .content_row {
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        .reply_icon_message {
            margin: 0 10px;
            color: var(--secondary-icon);
            img {
                width: 50px;
                height: 50px;
                border-radius: 8px;
            }
        }
        .file-container {
            height: 20px;
        }
    }
    .message_reply {
        position: relative;
        margin-bottom: -10px;
        z-index: 0;
        height: max-content;
        width: max-content;
        max-width: 600px;
        padding: 20px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        span {
            word-break: break-word;
            color: var(--secondary-text);
            font-size: var(--fourteen-px);
            font-weight: var(--secon-font-weight);
        }
        background-color: var(--reply-comment-background);
    }
}
.sender {
    align-items: flex-end;
    .content_receiver {
        justify-self: end;
        background-color: var(--primary-color);
        span {
            color: var(--alway-white);
        }
    }
    .content_row {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}
